<a href="https://colab.research.google.com/github/WiratchawaKannika/DPDM65/blob/main/Clean_DataXtestFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# **Import Data**

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Final/finaltest_X.csv')
print(test_df.shape)  ##บอกขนาดของ DataFrame
test_df.head()

(800, 40)

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2925,21082.0,NaN,NaN,ขอนแก่น,บ้านไผ่,หินตั้ง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,2926,30237P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,NaN,...,NaN,18-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2927,18099.0,NaN,NaN,ขอนแก่น,บ้านไผ่,ในเมือง,อาคารพาณิชย์/สำนักงาน,no,no,...,2.0,1.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3,2928,1713.0,NaN,NaN,ขอนแก่น,อุบลรัตน์,บ้านดง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2929,3056P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,สำราญ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_df.isnull().any()

INDEX                 False
id                    False
project_name           True
company                True
province              False
district              False
sub_district           True
property_type         False
home improvement       True
renovate               True
public utility         True
land type              True
land wide(m)           True
land long(m)           True
topsoil                True
corner                 True
zip_code               True
zone                   True
alley                  True
street                 True
latitude               True
longitude              True
number_of_rai         False
number_of_ngan        False
number_of_va          False
construct_year         True
model                  True
number_of_unit         True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
number_of_parking      True
usable_area            True
central_cost           True
direction              True
furniture              True
building_number        True
number_of_building     True
floor_number           True
parking_percentage     True
dtype: bool

In [ ]:
test_df.isnull().sum()

INDEX                   0
id                      0
project_name          625
company               677
province                0
district                0
sub_district           53
property_type           0
home improvement      314
renovate              312
public utility        579
land type             709
land wide(m)          703
land long(m)          725
topsoil               660
corner                668
zip_code              285
zone                  315
alley                 696
street                540
latitude                7
longitude               9
number_of_rai           0
number_of_ngan          0
number_of_va            0
construct_year        800
model                 800
number_of_unit        789
number_of_story       452
number_of_bedroom     247
number_of_bathroom    323
number_of_parking     371
usable_area           261
central_cost          458
direction             257
furniture             165
building_number       785
number_of_building    798
floor_number          677
parking_percentage    799
dtype: int64

# **Data Preparation**

In [ ]:
## Select lecting features 
column = ['INDEX', 'id',	'province',	'district',	'sub_district',	'property_type', 'furniture', 'number_of_story', 'number_of_bedroom' ,'number_of_bathroom', 'number_of_parking', 'central_cost' ,'parking_percentage', 
              'number_of_rai', 'number_of_ngan', 'number_of_va', 'usable_area']

test_df_ = test_df[column]
col_num = ['number_of_story', 'number_of_bedroom' ,'number_of_bathroom', 'number_of_parking', 'central_cost' ,'parking_percentage', 'number_of_rai', 
              'number_of_ngan', 'number_of_va', 'usable_area']
test_df_[col_num] = test_df_[col_num].apply(pd.to_numeric, errors='coerce', axis=1)
print(test_df_.shape)
test_df_.head()

(800, 17)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,INDEX,id,province,district,sub_district,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,number_of_rai,number_of_ngan,number_of_va,usable_area
0,2925,21082.0,ขอนแก่น,บ้านไผ่,หินตั้ง,ที่ดิน,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,13.0,1.0,0.0,NaN
1,2926,30237P,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,5.0,40.0,NaN,NaN,NaN,NaN,0.0,0.0,190.0,NaN
2,2927,18099.0,ขอนแก่น,บ้านไผ่,ในเมือง,อาคารพาณิชย์/สำนักงาน,ไม่ระบุ,2.0,2.0,2.0,1.0,0.0,NaN,0.0,0.0,28.0,0.0
3,2928,1713.0,ขอนแก่น,อุบลรัตน์,บ้านดง,ที่ดิน,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,13.0,3.0,52.0,NaN
4,2929,3056P,ขอนแก่น,เมืองขอนแก่น,สำราญ,ที่ดิน,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN

#### แทนค่า ค่าสูญหาย และ "ไม่ระบุ" ด้วย `0` ในตัวแปร ต่อไปนี้

```    
number_of_story     
number_of_bedroom   
number_of_bathroom  
number_of_parking   
central_cost  
parking_percentage
```

In [ ]:
dis_var = ['number_of_story', 'number_of_bedroom' ,'number_of_bathroom','number_of_parking' ,'central_cost', 'parking_percentage']
for d in dis_var:
    test_df_[d] = test_df_[d].fillna(float(0.0))


#test_df_ = check_thai(dis_var, test_df_)
### Check NaN : 
test_df_.isnull().any()
test_df_.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,INDEX,id,province,district,sub_district,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,number_of_rai,number_of_ngan,number_of_va,usable_area
0,2925,21082.0,ขอนแก่น,บ้านไผ่,หินตั้ง,ที่ดิน,ไม่ระบุ,0.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,0.0,NaN
1,2926,30237P,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,5.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,190.0,NaN
2,2927,18099.0,ขอนแก่น,บ้านไผ่,ในเมือง,อาคารพาณิชย์/สำนักงาน,ไม่ระบุ,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,28.0,0.0
3,2928,1713.0,ขอนแก่น,อุบลรัตน์,บ้านดง,ที่ดิน,ไม่ระบุ,0.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,52.0,NaN
4,2929,3056P,ขอนแก่น,เมืองขอนแก่น,สำราญ,ที่ดิน,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN

- ในตัวแปร furniture ถ้ามีการตกแต่งแทนค่าด้วย `"yes"` ถ้าไม่ระบุแทนค่าด้วย `"No"`

In [ ]:
def furniture(Data_clean_):
    Data_clean_['furniture'] = Data_clean_['furniture'].fillna('no')

    for i in range(len(Data_clean_)) :
        if Data_clean_['furniture'][i] == 'ไม่ระบุ' :
            Data_clean_.loc[Data_clean_.index[i], 'furniture'] = 'no'
        else:
            Data_clean_.loc[Data_clean_.index[i], 'furniture'] = 'yes'
    ## Check
    print(Data_clean_['furniture'].value_counts())
  
    return Data_clean_

In [ ]:
test_df__ = furniture(test_df_)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

no     461
yes    339
Name: furniture, dtype: int64

- แทนค่า ประเภทที่อยู่อาศัยใหม่ให้เป็นภาษาอังกฤษ สำหรับ Columns

```
property_type
```

In [ ]:
def Eng_type(res_data):
    c = 'property_type'
    for i in range(len(res_data)):
        if res_data[c][i] == 'บ้านเดี่ยว':
            res_data[c][i] = 'House'
        elif res_data[c][i] == 'บ้านแฝด':
              res_data[c][i] = 'TwinHouse'
        elif res_data[c][i] == 'อาคารพาณิชย์/สำนักงาน':
              res_data[c][i] = 'Office'
        elif res_data[c][i] == 'คอนโด':
              res_data[c][i] = 'Condo'
        elif res_data[c][i] == 'ทาวน์โฮม':
              res_data[c][i] = 'TownHome'
        elif res_data[c][i] == 'ที่ดิน':
              res_data[c][i] = 'Land'
        
    print(res_data[c].value_counts())
    print('*'* 100)
    
    return res_data

In [ ]:
test_df__ = Eng_type(test_df__)
print(test_df__.shape)
## Check
test_df__['property_type'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

House        360
Land         253
Office        72
TownHome      67
Condo         44
TwinHouse      4
Name: property_type, dtype: int64
****************************************************************************************************
(800, 17)

House        360
Land         253
Office        72
TownHome      67
Condo         44
TwinHouse      4
Name: property_type, dtype: int64

### แทนค่าสูญหายด้วยค่าเฉลี่ยของกลุ่มตามพื้นที่โครงการเป็นระดับ ตำบล อำเภอ จังหวัด ตามประเภทที่อยู่อาศัย

```
number_of_rai	
number_of_ngan	
number_of_va	
usable_area
```

- ตรวจสอบ String ใน columns ที่ควรมีค่าเป็นตัวเลข และแทนค่าด้วย "ไม่ระบุ" เพื่อแทนค่าด้วย mean ของกลุ่มต่อไป**

In [ ]:
var_num = ['number_of_rai',	'number_of_ngan',	'number_of_va',	'usable_area']
for v in var_num:
    test_df__[v] = test_df__[v].fillna('ไม่ระบุ')

print(test_df__.shape)
test_df__.head()

(800, 17)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,INDEX,id,province,district,sub_district,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,number_of_rai,number_of_ngan,number_of_va,usable_area
0,2925,21082.0,ขอนแก่น,บ้านไผ่,หินตั้ง,Land,no,0.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,0.0,ไม่ระบุ
1,2926,30237P,ขอนแก่น,เมืองขอนแก่น,NaN,House,yes,5.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,190.0,ไม่ระบุ
2,2927,18099.0,ขอนแก่น,บ้านไผ่,ในเมือง,Office,no,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,28.0,0.0
3,2928,1713.0,ขอนแก่น,อุบลรัตน์,บ้านดง,Land,no,0.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,52.0,ไม่ระบุ
4,2929,3056P,ขอนแก่น,เมืองขอนแก่น,สำราญ,Land,yes,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,ไม่ระบุ

##### ✅ **Function: สร้าง Column พื้นที่**

In [ ]:
def G_area(df) :
    df_ = df.reset_index(drop=True)
    df_['G_area'] = '' 
    for i in range(len(df_)):
        if df_['district'][i] == 'ไม่ระบุ' and df_['sub_district'][i] == 'ไม่ระบุ' :
            df_.loc[df_.index[i], 'G_area'] = df_['province'][i]
        if df_['district'][i] != 'ไม่ระบุ' and df_['sub_district'][i] == 'ไม่ระบุ' :
            df_.loc[df_.index[i], 'G_area'] = df_['district'][i] + ',' + df_['province'][i]
        if df_['district'][i] == 'ไม่ระบุ' and df_['sub_district'][i] != 'ไม่ระบุ' :
            df_.loc[df_.index[i], 'G_area'] = df_['sub_district'][i] + ',' + df_['province'][i]
        elif df_['district'][i] != 'ไม่ระบุ' and df_['sub_district'][i] != 'ไม่ระบุ' :
              df_.loc[df_.index[i], 'G_area'] = df_['sub_district'][i] + ',' + df_['district'][i] + ',' + df_['province'][i]

    return df_

In [ ]:
for c in ['district', 'sub_district']:
    test_df__[c] = test_df__[c].fillna('ไม่ระบุ')

test_df__upd = G_area(test_df__)  
test_df__upd.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INDEX,id,province,district,sub_district,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,number_of_rai,number_of_ngan,number_of_va,usable_area,G_area
0,2925,21082.0,ขอนแก่น,บ้านไผ่,หินตั้ง,Land,no,0.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,0.0,ไม่ระบุ,"หินตั้ง,บ้านไผ่,ขอนแก่น"
1,2926,30237P,ขอนแก่น,เมืองขอนแก่น,ไม่ระบุ,House,yes,5.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,190.0,ไม่ระบุ,"เมืองขอนแก่น,ขอนแก่น"
2,2927,18099.0,ขอนแก่น,บ้านไผ่,ในเมือง,Office,no,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,28.0,0.0,"ในเมือง,บ้านไผ่,ขอนแก่น"
3,2928,1713.0,ขอนแก่น,อุบลรัตน์,บ้านดง,Land,no,0.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,52.0,ไม่ระบุ,"บ้านดง,อุบลรัตน์,ขอนแก่น"
4,2929,3056P,ขอนแก่น,เมืองขอนแก่น,สำราญ,Land,yes,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,ไม่ระบุ,"สำราญ,เมืองขอนแก่น,ขอนแก่น"

#### ✅**Function: Calculate Mean of Group**

In [ ]:
import math

def cal_Gmean(df, list_columns): ## DataFrame, lost of columns that contain number. 
    lst_Garea = list(set(df['G_area']))
    mean_col_ = list()
    for v in list_columns:
        print(f'For Columns --> :[{v}]')
        mean_col = list()
        #df0 = df[df[v] != 'unknown']
        df0 = df[df[v] != 'ไม่ระบุ'].reset_index(drop=True)
        df0[[v]] = df0[[v]].astype(float)
        for g in lst_Garea:
            x = np.round(df0[df0['G_area'] == g][v].mean())
            if math.isnan(x) == True :
                mean_col.append((np.round(df0[v].mean())))
            else: 
                mean_col.append(np.round(df0[df0['G_area'] == g][v].mean()))
        mean_col_.append(mean_col)

    return lst_Garea, mean_col_

#### ✅**Function: แทนค่า Missing ด้วยค่าเฉลี่ยของที่ดินในแต่ละพื้นที่ประเทศไทย**

In [ ]:
def fillna_mean(land_, df_mean_land, lst_Garea, list_columns) : ## 1. list of Group area, 2. list of columns
    df_len, df_all = [], []
    for g in lst_Garea:
        mean_land = df_mean_land[df_mean_land['G_area'] == g]
        land_update = land_[land_['G_area'] == g]
        for c in list_columns:
            mean = mean_land[c].tolist()[0]
            land_update.fillna({c:mean}, inplace=True)
            # Applying the condition
            land_update[c].mask(land_update[c] == 'ไม่ระบุ', mean, inplace=True)
            df_len.append(land_update.shape[0])
        df_all.append(land_update)
    print('-'*200)
    ## Concat df     
    mean_land_update = pd.concat(df_all)
    mean_land_update = mean_land_update.reset_index(drop=True)
    print(mean_land_update.shape)
    #mean_land_update.head()

    return mean_land_update

#### ✅ **Function :แทนค่า Missing ด้วยค่าเฉลี่ยของกลุ่มในแต่ละประเภทที่อยู่อาศัยที่อยู่ในแต่พื้นที่**

In [ ]:
def FillNa_TableRes(resi_):
    df0_ = []
    list_columns = ['number_of_rai',	'number_of_ngan',	'number_of_va',	'usable_area']
    Set_resi_type = list(set(resi_['property_type']))
    print(Set_resi_type)
    #print(len(Set_resi_type))
    for k in range(len(Set_resi_type)):
        print(f'On Process -->>> property type [ {Set_resi_type[k]} ]')
        df0 = resi_[resi_['property_type'] == Set_resi_type[k]].reset_index(drop=True)
        lst_Garea, mean_col_ = cal_Gmean(df0, list_columns)
        df_mean_res = {'G_area':lst_Garea,'number_of_rai':mean_col_[0],'number_of_ngan':mean_col_[1], 'number_of_va': mean_col_[2], 'usable_area':mean_col_[3]}
        df_mean_res_ = pd.DataFrame(df_mean_res, columns=['G_area','number_of_rai',	'number_of_ngan',	'number_of_va',	'usable_area'])
        print(f'Table mean of property type [ {Set_resi_type[k]} Done !!] -->> {df_mean_res_.shape}')
        mean_res_update = fillna_mean(df0, df_mean_res_, lst_Garea, list_columns)
        print(f'Fillna missing Done  -->> Table Update -->> {mean_res_update.shape}')
        df0_.append(mean_res_update)
    ## Concat df     
    res_data = pd.concat(df0_)
    res_data = res_data.reset_index(drop=True)
    print(f'Concat Table Done !! -->> [ {res_data.shape} ] ')

    return res_data

In [ ]:
test_df__upd_ = FillNa_TableRes(test_df__upd)
print(test_df__upd_.shape)
test_df__upd_.head()

['Office', 'Condo', 'TwinHouse', 'Land', 'House', 'TownHome']
On Process -->>> property type [ Office ]
For Columns --> :[number_of_rai]
For Columns --> :[number_of_ngan]
For Columns --> :[number_of_va]
For Columns --> :[usable_area]
Table mean of property type [ Office Done !!] -->> (17, 5)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(72, 18)
Fillna missing Done  -->> Table Update -->> (72, 18)
On Process -->>> property type [ Condo ]
For Columns --> :[number_of_rai]
For Columns --> :[number_of_ngan]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

For Columns --> :[number_of_va]
For Columns --> :[usable_area]
Table mean of property type [ Condo Done !!] -->> (5, 5)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(44, 18)
Fillna missing Done  -->> Table Update -->> (44, 18)
On Process -->>> property type [ TwinHouse ]
For Columns --> :[number_of_rai]
For Columns --> :[number_of_ngan]
For Columns --> :[number_of_va]
For Columns --> :[usable_area]
Table mean of property type [ TwinHouse Done !!] -->> (3, 5)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(4, 18)
Fillna missing Done  -->> Table Update -->> (4, 18)
On Process -->>> property type [ Land ]
For Columns --> :[number_of_rai]
For Columns --> :[number_of_ngan]
For Columns --> :[number_of_va]
For Columns --> :[usable_area]
Table mean of property type [ Land Done !!] -->> (72, 5)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(253, 18)
Fillna missing Done  -->> Table Update -->> (253, 18)
On Process -->>> property type [ House ]
For Columns --> :[number_of_rai]
For Columns --> :[number_of_ngan]
For Columns --> :[number_of_va]
For Columns --> :[usable_area]
Table mean of property type [ House Done !!] -->> (92, 5)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(360, 18)
Fillna missing Done  -->> Table Update -->> (360, 18)
On Process -->>> property type [ TownHome ]
For Columns --> :[number_of_rai]
For Columns --> :[number_of_ngan]
For Columns --> :[number_of_va]
For Columns --> :[usable_area]
Table mean of property type [ TownHome Done !!] -->> (15, 5)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(67, 18)
Fillna missing Done  -->> Table Update -->> (67, 18)
Concat Table Done !! -->> [ (800, 18) ]
(800, 18)

,INDEX,id,province,district,sub_district,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,number_of_rai,number_of_ngan,number_of_va,usable_area,G_area
0,2967,10155P,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น"
1,3012,6123.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น"
2,3051,17445.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.6,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น"
3,3533,20383P,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,yes,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,22.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น"
4,3569,2246.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น"

In [ ]:
test_df__upd_.isnull().sum()

INDEX                 0
id                    0
province              0
district              0
sub_district          0
property_type         0
furniture             0
number_of_story       0
number_of_bedroom     0
number_of_bathroom    0
number_of_parking     0
central_cost          0
parking_percentage    0
number_of_rai         0
number_of_ngan        0
number_of_va          0
usable_area           0
G_area                0
dtype: int64

#### คำนวณพื้นที่อยู่อาศัย (หน่วย:ไร่)

- หน่วยวัดพื้นที่ดินของไทยใช้หน่วยไร่งานตารางวาตารางเมตรและวีธีการแปลงหน่วย · `1 ไร่ = 4 งาน = 400 ตารางวา = 1,600 ตารางเมตร`

In [ ]:
test_df__upd_['area'] =  test_df__upd_['number_of_rai'] + test_df__upd_['number_of_rai']/4 + test_df__upd_['number_of_va']/100
print(test_df__upd_.shape)
test_df__upd_.head()

(800, 19)

,INDEX,id,province,district,sub_district,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,number_of_rai,number_of_ngan,number_of_va,usable_area,G_area,area
0,2967,10155P,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น",0.000
1,3012,6123.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น",0.260
2,3051,17445.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.6,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น",0.196
3,3533,20383P,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,yes,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,22.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น",0.220
4,3569,2246.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น",0.190

In [ ]:
columns = ['number_of_story', 'number_of_bedroom' ,'number_of_bathroom', 'number_of_parking', 'central_cost' ,'parking_percentage', 
              'number_of_rai', 'number_of_ngan', 'number_of_va', 'usable_area', 'area']

for c in columns:
    test_df__upd_[c] = test_df__upd_[c].astype(float)

test_df__upd_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INDEX               800 non-null    int64
 1   id                  800 non-null    object
 2   province            800 non-null    object
 3   district            800 non-null    object
 4   sub_district        800 non-null    object
 5   property_type       800 non-null    object
 6   furniture           800 non-null    object
 7   number_of_story     800 non-null    float64
 8   number_of_bedroom   800 non-null    float64
 9   number_of_bathroom  800 non-null    float64
 10  number_of_parking   800 non-null    float64
 11  central_cost        800 non-null    float64
 12  parking_percentage  800 non-null    float64
 13  number_of_rai       800 non-null    float64
 14  number_of_ngan      800 non-null    float64
 15  number_of_va        800 non-null    float64
 16  usable_area         800 non-null    float64
 17  G_area              800 non-null    object
 18  area                800 non-null    float64
dtypes: float64(11), int64(1), object(7)
memory usage: 118.9+ KB

In [ ]:
test_df__upd_.to_csv('/content/drive/MyDrive/DPDM65/Final/Myfinaltest_X.csv')