<a href="https://colab.research.google.com/github/WiratchawaKannika/DPDM65/blob/main/Predict_ModelDecisionTreeRegress_FinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# **Import Data**

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Final/test10nov_X.csv')
print(test_df.shape)  ##บอกขนาดของ DataFrame
test_df.head()

(200, 40)

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2725,10441P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2726,520.0,NaN,NaN,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2727,6340.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,0.0,NaN,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,0.0
3,2728,17032.0,NaN,NaN,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,no,no,...,2.0,1.0,133.0,0.0,ตะวันออกเฉียงเหนือ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2729,18091.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,1.0,NaN,46.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,1.0,NaN

In [ ]:
test_df.isnull().any()

INDEX                 False
id                    False
project_name           True
company                True
province              False
district              False
sub_district           True
property_type         False
home improvement       True
renovate               True
public utility         True
land type              True
land wide(m)           True
land long(m)           True
topsoil                True
corner                 True
zip_code               True
zone                   True
alley                  True
street                 True
latitude               True
longitude              True
number_of_rai         False
number_of_ngan        False
number_of_va          False
construct_year         True
model                  True
number_of_unit         True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
number_of_parking      True
usable_area            True
central_cost           True
direction              True
furniture              True
building_number        True
number_of_building     True
floor_number           True
parking_percentage     True
dtype: bool

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Final/df_train.csv')
train_df = train_df.iloc[:,1:]
print(train_df.shape)  ##บอกขนาดของ DataFrame
train_df.head()

(2715, 11)

,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,sell_price,usable_area,G_area
0,11243.0,ขอนแก่น,หนองเรือ,โนนสะอาด,Land,8.0,1.0,70.0,21000000.0,10704.0,"โนนสะอาด,หนองเรือ,ขอนแก่น"
1,2092P,ขอนแก่น,หนองเรือ,โนนสะอาด,Land,6.0,2.0,78.0,8900000.0,10704.0,"โนนสะอาด,หนองเรือ,ขอนแก่น"
2,17882.0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,0.0,1.0,0.0,2075000.0,0.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"
3,306P,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,7.0,0.0,100.0,35000000.0,0.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"
4,2217.0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,0.0,1.0,80.0,4850000.0,0.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"

# **Data Preparation**

- แทนค่า missing ในตัวแปรกลุ่มด้วย `"unknown"`

In [ ]:
column = ['INDEX', 'id',	'province',	'district',	'sub_district',	'property_type',	'number_of_rai',	'number_of_ngan',	'number_of_va',	'usable_area']
test_df_ = test_df[column]

categ_list = ['province',	'district',	'sub_district',	'property_type']
for c in categ_list:
    test_df_[c] = test_df_[c].fillna('unknown')

print('*'*120)
print(test_df_.isnull().any())

************************************************************************************************************************
INDEX             False
id                False
province          False
district          False
sub_district      False
property_type     False
number_of_rai     False
number_of_ngan    False
number_of_va      False
usable_area        True
dtype: bool

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
test_df_

,INDEX,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,usable_area
0,2725,10441P,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,9.0,3.0,5.0,NaN
1,2726,520.0,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,1.0,0.0,26.0,NaN
2,2727,6340.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,0.0,0.0,32.0,0.0
3,2728,17032.0,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,0.0,0.0,75.0,133.0
4,2729,18091.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,0.0,0.0,0.0,46.0
...,...,...,...,...,...,...,...,...,...,...
195,2920,6040.0,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,บ้านเดี่ยว,0.0,0.0,69.0,0.0
196,2921,681.0,ขอนแก่น,เมืองขอนแก่น,พระลับ,อาคารพาณิชย์/สำนักงาน,0.0,0.0,20.0,0.0
197,2922,1182.0,ขอนแก่น,ชุมแพ,หนองไผ่,บ้านเดี่ยว,0.0,1.0,21.0,0.0
198,2923,18567.0,ขอนแก่น,เมืองขอนแก่น,ท่าพระ,บ้านเดี่ยว,0.0,0.0,83.7,0.0
199,2924,20219P,ขอนแก่น,มัญจาคีรี,โพนเพ็ก,บ้านเดี่ยว,0.0,0.0,50.0,NaN

##### **✅Function: ตรวจสอบ String ใน columns ที่ควรมีค่าเป็นตัวเลข**

In [ ]:
## Function check Float
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

# var_num = ['number_of_rai','number_of_va','land long(m)','land wide(m)','number_of_ngan','number_of_unit', 'number_of_story','number_of_bedroom', 
#               'number_of_bathroom', 'number_of_parking', 'usable_area','central_cost', 'floor_number', 'sell_price']
def checkOpera(var_num, train_clean):
    st = [',', '/', '-' ,'ุ']
    num = ['1','2','3','4','5','6','7','8','9','0']
    for v in var_num:
        for i in range(len(train_clean)):
            if isfloat(train_clean[v][i]) == False :
              if v == 'sell_price':
                  train_clean = train_clean.drop(i)
              else:
                    for s in st:
                          if s in train_clean[v][i]:
                              print(f'For Columns **--[ {v} ]')
                              print(train_clean[v][i])
                              print(f'InDex {i}')
                              print('*'*100)
                              train_clean.loc[train_clean.index[i], v] = 'unknown'  
                          elif train_clean[v][i] not in num:
                                train_clean.loc[train_clean.index[i], v] = 'unknown'
    return train_clean

In [ ]:
var_num = ['number_of_rai',	'number_of_ngan',	'number_of_va',	'usable_area']
test_clean = checkOpera(var_num, test_df_)
print(test_clean.shape)
test_clean.head()

(200, 10)

,INDEX,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,usable_area
0,2725,10441P,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,9.0,3.0,5.0,NaN
1,2726,520.0,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,1.0,0.0,26.0,NaN
2,2727,6340.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,0.0,0.0,32.0,0.0
3,2728,17032.0,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,0.0,0.0,75.0,133.0
4,2729,18091.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,0.0,0.0,0.0,46.0

##### ✅ **Function: สร้าง Column พื้นที่**

In [ ]:
def G_area(df) :
    df_ = df.reset_index(drop=True)
    df_['G_area'] = '' 
    for i in range(len(df_)):
        if df_['district'][i] == 'unknown' and df_['sub_district'][i] == 'unknown' :
            df_.loc[df_.index[i], 'G_area'] = df_['province'][i]
        if df_['district'][i] != 'unknown' and df_['sub_district'][i] == 'unknown' :
            df_.loc[df_.index[i], 'G_area'] = df_['district'][i] + ',' + df_['province'][i]
        if df_['district'][i] == 'unknown' and df_['sub_district'][i] != 'unknown' :
            df_.loc[df_.index[i], 'G_area'] = df_['sub_district'][i] + ',' + df_['province'][i]
        elif df_['district'][i] != 'unknown' and df_['sub_district'][i] != 'unknown' :
              df_.loc[df_.index[i], 'G_area'] = df_['sub_district'][i] + ',' + df_['district'][i] + ',' + df_['province'][i]

    return df_

In [ ]:
test_clean_ = G_area(test_clean)
print(test_clean_.shape)
test_clean_.head()

(200, 11)

,INDEX,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,usable_area,G_area
0,2725,10441P,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,9.0,3.0,5.0,NaN,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"
1,2726,520.0,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,1.0,0.0,26.0,NaN,"ไชยสอ,ชุมแพ,ขอนแก่น"
2,2727,6340.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,0.0,0.0,32.0,0.0,"ในเมือง,เมืองขอนแก่น,ขอนแก่น"
3,2728,17032.0,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,0.0,0.0,75.0,133.0,"โนนทอง,หนองเรือ,ขอนแก่น"
4,2729,18091.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,0.0,0.0,0.0,46.0,"ในเมือง,เมืองขอนแก่น,ขอนแก่น"

#### ✅**Function: Calculate Mean of Group**

In [ ]:
import math

def cal_Gmean(df, list_columns): ## DataFrame, lost of columns that contain number. 
    lst_Garea = list(set(df['G_area']))
    mean_col_ = list()
    for v in list_columns:
        mean_col = list()
        df0 = df[df[v] != 'unknown']
        df0[[v]] = df0[[v]].astype(float)
        for g in lst_Garea:
            x = np.round(df0[df0['G_area'] == g][v].mean())
            if math.isnan(x) == True :
                mean_col.append((np.round(df0[v].mean())))
            else: 
                mean_col.append(np.round(df0[df0['G_area'] == g][v].mean()))
        mean_col_.append(mean_col)

    return lst_Garea, mean_col_

#### ✅**Function: แทนค่า Missing ด้วยค่าเฉลี่ยของที่ดินในแต่ละพื้นที่ประเทศไทย**

In [ ]:
def fillna_mean(land_, df_mean_land, lst_Garea, list_columns) : ## 1. list of Group area, 2. list of columns
    df_len, df_all = [], []
    for g in lst_Garea:
        mean_land = df_mean_land[df_mean_land['G_area'] == g]
        land_update = land_[land_['G_area'] == g]
        for c in list_columns:
            mean = mean_land[c].tolist()[0]
            land_update.fillna({c:mean}, inplace=True)
            # Applying the condition
            land_update[c].mask(land_update[c] == 'unknown', mean, inplace=True)
            df_len.append(land_update.shape[0])
        df_all.append(land_update)
    print('-'*200)
    ## Concat df     
    mean_land_update = pd.concat(df_all)
    mean_land_update = mean_land_update.reset_index(drop=True)
    print(mean_land_update.shape)
    #mean_land_update.head()

    return mean_land_update

#### ✅ **Function :แทนค่า Missing ด้วยค่าเฉลี่ยของกลุ่มในแต่ละปีะเภทที่อยู่อาศัยที่อยู่ในแต่พื้นที่**

In [ ]:
def FillNa_TableRes(resi_):
    df0_ = []
    list_columns = ['usable_area']
    Set_resi_type = list(set(resi_['property_type']))
    print(Set_resi_type)
    #print(len(Set_resi_type))
    for k in range(len(Set_resi_type)):
        print(f'On Process -->>> property type [ {Set_resi_type[k]} ]')
        df0 = resi_[resi_['property_type'] == Set_resi_type[k]].reset_index(drop=True)
        lst_Garea, mean_col_ = cal_Gmean(df0, list_columns)
        df_mean_res = {'G_area':lst_Garea,'usable_area':mean_col_[0]}
        df_mean_res_ = pd.DataFrame(df_mean_res, columns=['G_area', 'usable_area'])
        print(f'Table mean of property type [ {Set_resi_type[k]} Done !!] -->> {df_mean_res_.shape}')
        mean_res_update = fillna_mean(df0, df_mean_res_, lst_Garea, list_columns)
        print(f'Fillna missing Done  -->> Table Update -->> {mean_res_update.shape}')
        df0_.append(mean_res_update)
    ## Concat df     
    res_data = pd.concat(df0_)
    res_data = res_data.reset_index(drop=True)
    print(f'Concat Table Done !! -->> [ {res_data.shape} ] ')

    return res_data

In [ ]:
test_clean__ = FillNa_TableRes(test_clean_)
print(test_clean__.shape)
test_clean__.head()

['ทาวน์โฮม', 'อาคารพาณิชย์/สำนักงาน', 'คอนโด', 'บ้านเดี่ยว', 'บ้านแฝด', 'ที่ดิน']
On Process -->>> property type [ ทาวน์โฮม ]
Table mean of property type [ ทาวน์โฮม Done !!] -->> (5, 2)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(18, 11)
Fillna missing Done  -->> Table Update -->> (18, 11)
On Process -->>> property type [ อาคารพาณิชย์/สำนักงาน ]
Table mean of property type [ อาคารพาณิชย์/สำนักงาน Done !!] -->> (9, 2)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(19, 11)
Fillna missing Done  -->> Table Update -->> (19, 11)
On Process -->>> property type [ คอนโด ]
Table mean of property type [ คอนโด Done !!] -->> (3, 2)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(18, 11)
Fillna missing Done  -->> Table Update -->> (18, 11)
On Process -->>> property type [ บ้านเดี่ยว ]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

Table mean of property type [ บ้านเดี่ยว Done !!] -->> (33, 2)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(82, 11)
Fillna missing Done  -->> Table Update -->> (82, 11)
On Process -->>> property type [ บ้านแฝด ]
Table mean of property type [ บ้านแฝด Done !!] -->> (1, 2)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(2, 11)
Fillna missing Done  -->> Table Update -->> (2, 11)
On Process -->>> property type [ ที่ดิน ]
Table mean of property type [ ที่ดิน Done !!] -->> (32, 2)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
(61, 11)
Fillna missing Done  -->> Table Update -->> (61, 11)
Concat Table Done !! -->> [ (200, 11) ]
(200, 11)

,INDEX,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,usable_area,G_area
0,2866,1894.0,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,ทาวน์โฮม,0.0,0.0,21.0,60.0,"เมืองเก่า,เมืองขอนแก่น,ขอนแก่น"
1,2737,2250.0,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,ทาวน์โฮม,0.0,0.0,24.0,0.0,"บ้านเป็ด,เมืองขอนแก่น,ขอนแก่น"
2,2777,17541.0,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,ทาวน์โฮม,0.0,0.0,24.0,0.0,"บ้านเป็ด,เมืองขอนแก่น,ขอนแก่น"
3,2807,20285P,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,ทาวน์โฮม,0.0,0.0,17.0,30.0,"บ้านเป็ด,เมืองขอนแก่น,ขอนแก่น"
4,2823,618.0,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,ทาวน์โฮม,0.0,0.0,19.1,0.0,"บ้านเป็ด,เมืองขอนแก่น,ขอนแก่น"

####  แทนค่า ประเภทที่อยู่อาศัยใหม่ให้เป็นภาษาอังกฤษ สำหรับ Columns

```
property_type
```

In [ ]:
def Eng_type(res_data):
    c = 'property_type'
    for i in range(len(res_data)):
        if res_data[c][i] == 'บ้านเดี่ยว':
            res_data[c][i] = 'House'
        elif res_data[c][i] == 'บ้านแฝด':
              res_data[c][i] = 'TwinHouse'
        elif res_data[c][i] == 'อาคารพาณิชย์/สำนักงาน':
              res_data[c][i] = 'Office'
        elif res_data[c][i] == 'คอนโด':
              res_data[c][i] = 'Condo'
        elif res_data[c][i] == 'ทาวน์โฮม':
              res_data[c][i] = 'Town Home'
        elif res_data[c][i] == 'ที่ดิน':
              res_data[c][i] = 'Land'
        
    print(res_data[c].value_counts())
    print('*'* 100)
    
    return res_data

In [ ]:
test_clean__ = Eng_type(test_clean__)
test_clean__ = test_clean__.reset_index(drop=True)
test_clean__ = test_clean__.sort_values('INDEX')
print(test_clean__.shape)
test_clean__.head()

House        82
Land         61
Office       19
Condo        18
Town Home    18
TwinHouse     2
Name: property_type, dtype: int64
****************************************************************************************************
(200, 11)

,INDEX,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,usable_area,G_area
0,2725,10441P,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,9.0,3.0,5.0,54900.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"
1,2726,520.0,ขอนแก่น,ชุมแพ,ไชยสอ,Land,1.0,0.0,26.0,54900.0,"ไชยสอ,ชุมแพ,ขอนแก่น"
2,2727,6340.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,Condo,0.0,0.0,32.0,0.0,"ในเมือง,เมืองขอนแก่น,ขอนแก่น"
3,2728,17032.0,ขอนแก่น,หนองเรือ,โนนทอง,House,0.0,0.0,75.0,133.0,"โนนทอง,หนองเรือ,ขอนแก่น"
4,2729,18091.0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,Condo,0.0,0.0,0.0,46.0,"ในเมือง,เมืองขอนแก่น,ขอนแก่น"

In [ ]:
test_clean__.isnull().sum()

INDEX             0
id                0
province          0
district          0
sub_district      0
property_type     0
number_of_rai     0
number_of_ngan    0
number_of_va      0
usable_area       0
G_area            0
dtype: int64

### Dummy variable

In [ ]:
colName_land = ['property_type',	'number_of_rai',	'number_of_ngan',	'number_of_va',	'usable_area']
data_test = test_clean__[colName_land]

# Dummy variable
categorical_land = ['property_type']
df_encode = pd.get_dummies(data = data_test,  columns = categorical_land, drop_first =True)
print(df_encode.shape)
df_encode.head()

(200, 9)

,number_of_rai,number_of_ngan,number_of_va,usable_area,property_type_House,property_type_Land,property_type_Office,property_type_Town Home,property_type_TwinHouse
0,9.0,3.0,5.0,54900.0,0,1,0,0,0
1,1.0,0.0,26.0,54900.0,0,1,0,0,0
2,0.0,0.0,32.0,0.0,0,0,0,0,0
3,0.0,0.0,75.0,133.0,1,0,0,0,0
4,0.0,0.0,0.0,46.0,0,0,0,0,0

## Prediction

#### Loading the scikit learn models with Pickle

In [ ]:
# Loading the saved decision tree model pickle
import pickle

model_filename = '/content/drive/MyDrive/DPDM65/Final/DecisionTreeRegress.pkl'
dec_tree_regre_pkl = open(model_filename, 'rb')
dec_tree_regre_model = pickle.load(dec_tree_regre_pkl)
print("Loaded Decision tree model :: ", dec_tree_regre_model)

Loaded Decision tree model ::  DecisionTreeRegressor(max_depth=3, max_features='log2', max_leaf_nodes=60,
                      min_samples_leaf=6, min_weight_fraction_leaf=0.1)

In [ ]:
# prediction from Load model
pred = dec_tree_regre_model.predict(df_encode)
print(len(pred))
print(pred)

200
[69769456.64353313  3798085.44382802  3798085.44382802  3036097.41666667
  3798085.44382802  3798085.44382802  6156865.86507936  6156865.86507936
  3798085.44382802  3798085.44382802  9390206.88990826  3798085.44382802
  3798085.44382802  9390206.88990826  9390206.88990826  9390206.88990826
  9390206.88990826  2922200.17247387  2922200.17247387  9390206.88990826
  3036097.41666667  3798085.44382802  3036097.41666667  9390206.88990826
  3036097.41666667  3798085.44382802  6156865.86507936  2922200.17247387
  2922200.17247387  3798085.44382802  3798085.44382802  3798085.44382802
  2922200.17247387  9390206.88990826  3798085.44382802  2922200.17247387
  3036097.41666667 69769456.64353313  3036097.41666667  3798085.44382802
  3798085.44382802  3798085.44382802  3036097.41666667 69769456.64353313
 69769456.64353313  9390206.88990826  6156865.86507936  3036097.41666667
  3798085.44382802  3798085.44382802  9390206.88990826 69769456.64353313
  3798085.44382802  3036097.41666667  6156865.86507936  2922200.17247387
  3798085.44382802  6156865.86507936  3798085.44382802  2922200.17247387
  2922200.17247387  3036097.41666667  9390206.88990826  2922200.17247387
  3798085.44382802  2922200.17247387  6156865.86507936  6156865.86507936
  6156865.86507936  2922200.17247387  9390206.88990826  3798085.44382802
  3798085.44382802  6156865.86507936  2922200.17247387 69769456.64353313
  9390206.88990826  2922200.17247387  2922200.17247387 69769456.64353313
  3798085.44382802 69769456.64353313  3798085.44382802  9390206.88990826
 69769456.64353313 69769456.64353313  3036097.41666667  2922200.17247387
  9390206.88990826  3798085.44382802  3798085.44382802  9390206.88990826
  9390206.88990826  3798085.44382802  2922200.17247387 69769456.64353313
  3798085.44382802  6156865.86507936  3798085.44382802  3798085.44382802
  2922200.17247387  2922200.17247387  3798085.44382802  2922200.17247387
  9390206.88990826  2922200.17247387  2922200.17247387  2922200.17247387
  2922200.17247387  2922200.17247387 69769456.64353313  3036097.41666667
 69769456.64353313  3798085.44382802  9390206.88990826  3798085.44382802
  2922200.17247387  3798085.44382802  3798085.44382802  9390206.88990826
  2922200.17247387  6156865.86507936  9390206.88990826  6156865.86507936
 69769456.64353313 69769456.64353313  3798085.44382802  3798085.44382802
  3798085.44382802  3798085.44382802  3798085.44382802 69769456.64353313
  3798085.44382802  3036097.41666667  3036097.41666667  9390206.88990826
  3036097.41666667  2922200.17247387  9390206.88990826 69769456.64353313
  2922200.17247387  3798085.44382802  3036097.41666667  3798085.44382802
  3798085.44382802  2922200.17247387 69769456.64353313  9390206.88990826
  9390206.88990826  3798085.44382802  9390206.88990826 69769456.64353313
  3036097.41666667  2922200.17247387  9390206.88990826  3798085.44382802
  3798085.44382802  9390206.88990826  9390206.88990826 69769456.64353313
  3036097.41666667  3798085.44382802  3798085.44382802  3798085.44382802
  2922200.17247387 69769456.64353313  3036097.41666667  3798085.44382802
  3798085.44382802 69769456.64353313  3798085.44382802  2922200.17247387
 69769456.64353313  3798085.44382802  6156865.86507936  3798085.44382802
  3798085.44382802  6156865.86507936  3036097.41666667  3798085.44382802
  3798085.44382802  2922200.17247387  6156865.86507936  2922200.17247387
  6156865.86507936  3798085.44382802  9390206.88990826  2922200.17247387
  6156865.86507936  3798085.44382802 69769456.64353313  3036097.41666667
  3036097.41666667  3036097.41666667  2922200.17247387  2922200.17247387
  3798085.44382802  2922200.17247387  2922200.17247387  3036097.41666667]

## Save To CSV.

In [ ]:
list_pred = pred.tolist()
print(len(list_pred))

200

In [ ]:
df_pred = test_clean__[['INDEX']]
df_pred['sell_price'] = list_pred 
print(df_pred.shape)
df_pred.head()

(200, 2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   INDEX    sell_price
0   2725  6.976946e+07
1   2726  3.798085e+06
2   2727  3.798085e+06
3   2728  3.036097e+06
4   2729  3.798085e+06

In [ ]:
df_pred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   INDEX       200 non-null    int64
 1   sell_price  200 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.7 KB

In [ ]:
df_pred.to_csv('/content/drive/MyDrive/DPDM65/Final/predicted_y.csv')