<a href="https://colab.research.google.com/github/WiratchawaKannika/DPDM65/blob/main/TrainModelDecisionTreeRegress_Finalexam_remodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

# Train Model เพื่อทำนายราคาที่อยู่อาศัย

## Import data set

In [ ]:
df_train = pd.read_csv('/content/drive/MyDrive/DPDM65/Final/MyDataSet_Finalexam.csv')
df_train = df_train.iloc[:,1:]
print(df_train.shape)
df_train.head()

(2715, 19)

,id,province,district,sub_district,property_type,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,furniture,number_of_rai,number_of_ngan,number_of_va,usable_area,sell_price,G_area,area
0,17441.0,ขอนแก่น,พล,เมืองพล,Office,0.0,0.0,0.0,0.0,0.0,0.0,no,0.0,0.0,17.2,0.0,2100000.0,"เมืองพล,พล,ขอนแก่น",0.172
1,536.0,ขอนแก่น,พล,เมืองพล,Office,0.0,0.0,0.0,0.0,0.0,0.0,no,0.0,0.0,17.8,0.0,2901000.0,"เมืองพล,พล,ขอนแก่น",0.178
2,11.0,ขอนแก่น,พล,เมืองพล,Office,0.0,0.0,0.0,0.0,0.0,0.0,yes,0.0,0.0,50.6,504.0,17000000.0,"เมืองพล,พล,ขอนแก่น",0.506
3,18706.0,ขอนแก่น,พล,เมืองพล,Office,0.0,0.0,0.0,0.0,0.0,0.0,no,0.0,0.0,38.7,0.0,3880000.0,"เมืองพล,พล,ขอนแก่น",0.387
4,20342P,ขอนแก่น,เขาสวนกวาง,เขาสวนกวาง,Office,0.0,0.0,0.0,0.0,0.0,0.0,yes,2.0,2.0,96.0,136.0,30000000.0,"เขาสวนกวาง,เขาสวนกวาง,ขอนแก่น",3.460

## Data Preparation

### Dummy variable

In [ ]:
colName = ['property_type',	'furniture', 'number_of_story',	'number_of_bedroom',	'number_of_bathroom',
              	'number_of_parking',	'central_cost',	'parking_percentage',	'area',	'usable_area','sell_price']
df_train = df_train[colName]
df_train.head()

,property_type,furniture,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,area,usable_area,sell_price
0,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.172,0.0,2100000.0
1,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.178,0.0,2901000.0
2,Office,yes,0.0,0.0,0.0,0.0,0.0,0.0,0.506,504.0,17000000.0
3,Office,no,0.0,0.0,0.0,0.0,0.0,0.0,0.387,0.0,3880000.0
4,Office,yes,0.0,0.0,0.0,0.0,0.0,0.0,3.460,136.0,30000000.0

In [ ]:
# Dummy variable
categorical = ['property_type', 'furniture']
df_encode = pd.get_dummies(data = df_train,  columns = categorical, drop_first =True)
print(df_encode.shape)
df_encode.head()

(2715, 15)

,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,area,usable_area,sell_price,property_type_House,property_type_Land,property_type_Office,property_type_TownHome,property_type_TwinHouse,furniture_yes
0,0.0,0.0,0.0,0.0,0.0,0.0,0.172,0.0,2100000.0,0,0,1,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.178,0.0,2901000.0,0,0,1,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.506,504.0,17000000.0,0,0,1,0,0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.387,0.0,3880000.0,0,0,1,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,3.460,136.0,30000000.0,0,0,1,0,0,1

## Feature Selection

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_squared_error

## Splitting the data into train and test data sets.

In [ ]:
X = df_encode.drop('sell_price',axis=1) # Independet variable
y = df_encode['sell_price'] # dependent variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=0)

In [ ]:
# size of test data set
print(X_train.shape)
X_train.head()

(2443, 14)

,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,area,usable_area,property_type_House,property_type_Land,property_type_Office,property_type_TownHome,property_type_TwinHouse,furniture_yes
1620,0.0,0.0,0.0,0.0,0.0,0.0,0.175,0.0,0,0,0,1,0,0
654,0.0,0.0,0.0,0.0,0.0,0.0,0.500,99.0,1,0,0,0,0,1
935,0.0,0.0,0.0,0.0,0.0,0.0,1.490,0.0,1,0,0,0,0,0
977,0.0,0.0,0.0,0.0,0.0,0.0,0.500,83.0,1,0,0,0,0,0
2174,0.0,0.0,0.0,0.0,0.0,0.0,14.350,0.0,0,1,0,0,0,0

In [ ]:
# size of test data set
print(y_train.shape)
y_train.head()

(2443,)

1620    1300000.0
654     3800000.0
935      560000.0
977     1890000.0
2174    5100000.0
Name: sell_price, dtype: float64

In [ ]:
# size of test data set
print(X_test.shape)
X_test.head()

(272, 14)

,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,central_cost,parking_percentage,area,usable_area,property_type_House,property_type_Land,property_type_Office,property_type_TownHome,property_type_TwinHouse,furniture_yes
2354,0.0,0.0,0.0,0.0,0.0,0.0,0.00,12933.0,0,1,0,0,0,0
615,0.0,0.0,0.0,0.0,0.0,0.0,0.25,35.0,1,0,0,0,0,0
2489,0.0,0.0,0.0,0.0,0.0,0.0,7.21,12305.0,0,1,0,0,0,1
674,0.0,0.0,0.0,0.0,0.0,0.0,0.34,234.0,1,0,0,0,0,0
1855,0.0,0.0,0.0,0.0,0.0,0.0,1.27,7177.0,0,1,0,0,0,0

In [ ]:
# size of test data set
print(y_test.shape)
y_test.head()

(272,)

2354      950000.0
615      2000000.0
2489    30000000.0
674       800000.0
1855     2500000.0
Name: sell_price, dtype: float64

# **Decision Tree Model Training**

In [ ]:
from sklearn.tree import DecisionTreeRegressor

## Define

In [ ]:
reg_decisModel = DecisionTreeRegressor()

## Build model (fit)

In [ ]:
reg_decisModel.fit(X_train, y_train)

DecisionTreeRegressor()

## Parameter tuning with 10-fold cross Validation

In [ ]:
# Hyper parameters range intialization for tuning 
parameters={"splitter":["best","random"],
            "max_depth" : [1,3,5,7,9,11,12],
           "min_samples_leaf":[1,2,3,4,5,6,7,8,9,10],
           "min_weight_fraction_leaf":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
           "max_features":["auto","log2","sqrt",None],
           "max_leaf_nodes":[None,10,20,30,40,50,60,70,80,90] }

In [ ]:
# calculating different regression metrics
from sklearn.model_selection import GridSearchCV

tuning_model = GridSearchCV(reg_decisModel ,param_grid=parameters, scoring='neg_mean_absolute_error',cv=10, verbose=3, n_jobs=-1)  ##neg_mean_absolute_error  ##neg_mean_squared_error

In [ ]:
tuning_model.fit(X_train, y_train)

Fitting 10 folds for each of 50400 candidates, totalling 504000 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
224000 fits failed out of a total of 504000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
224000 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 304, in fit
    raise ValueError("min_weight_fraction_leaf must in [0, 0.5]")
ValueError: min_weight_fraction_leaf must in [0, 0.5]

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [-43139052.28201264 -46268344.51568401 -44439497.44410659 ...
                nan                nan                nan]
  category=UserWarning,

GridSearchCV(cv=10, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'max_depth': [1, 3, 5, 7, 9, 11, 12],
                         'max_features': ['auto', 'log2', 'sqrt', None],
                         'max_leaf_nodes': [None, 10, 20, 30, 40, 50, 60, 70,
                                            80, 90],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'min_weight_fraction_leaf': [0.1, 0.2, 0.3, 0.4, 0.5,
                                                      0.6, 0.7, 0.8, 0.9],
                         'splitter': ['best', 'random']},
             scoring='neg_mean_absolute_error', verbose=3)

In [ ]:
# best hyperparameters 
best_hype = tuning_model.best_params_
best_hype

{'max_depth': 5,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_samples_leaf': 1,
 'min_weight_fraction_leaf': 0.1,
 'splitter': 'best'}

In [ ]:
max_depth = best_hype['max_depth']
max_features = best_hype['max_features']
max_leaf_nodes = best_hype['max_leaf_nodes']
min_samples_leaf = best_hype['min_samples_leaf']
min_weight_fraction_leaf = best_hype['min_weight_fraction_leaf']
splitter = best_hype['splitter']

- best model score

In [ ]:
tuning_model.best_score_

-42839185.95808354

## Retrain model with all training set

In [ ]:
tuned_hyper_model = DecisionTreeRegressor(max_depth=max_depth, max_features=max_features, max_leaf_nodes=max_leaf_nodes ,
                                                min_samples_leaf=min_samples_leaf,  min_weight_fraction_leaf=min_weight_fraction_leaf,
                                                splitter=splitter)

In [ ]:
# fitting model
tuned_hyper_model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, max_features='auto',
                      min_weight_fraction_leaf=0.1)

# Prediction

In [ ]:
tuned_pred = tuned_hyper_model.predict(X_test)
print(len(tuned_pred))
print(tuned_pred)

272
[3.14835601e+06 2.28739291e+06 1.31514979e+07 5.48317946e+06
 3.14835601e+06 3.16275462e+06 3.16275462e+06 3.16275462e+06
 2.68713012e+06 3.14835601e+06 2.68713012e+06 2.28739291e+06
 3.16275462e+06 3.14835601e+06 2.68713012e+06 3.16275462e+06
 3.16275462e+06 2.68713012e+06 2.68713012e+06 3.16275462e+06
 2.28739291e+06 1.31514979e+07 2.68713012e+06 2.42503243e+08
 2.68713012e+06 3.14835601e+06 2.68713012e+06 1.31514979e+07
 3.16275462e+06 3.14835601e+06 2.42503243e+08 2.42503243e+08
 2.28739291e+06 2.68713012e+06 2.28739291e+06 2.28739291e+06
 2.42503243e+08 3.14835601e+06 2.68713012e+06 2.42503243e+08
 2.28739291e+06 5.48317946e+06 3.16275462e+06 3.16275462e+06
 2.28739291e+06 3.14835601e+06 2.28739291e+06 5.48317946e+06
 2.68713012e+06 3.16275462e+06 3.16275462e+06 2.68713012e+06
 2.68713012e+06 2.42503243e+08 3.16275462e+06 1.31514979e+07
 3.16275462e+06 3.16275462e+06 2.68713012e+06 3.16275462e+06
 2.28739291e+06 2.28739291e+06 2.68713012e+06 5.48317946e+06
 3.14835601e+06 3.16275462e+06 1.31514979e+07 2.28739291e+06
 3.16275462e+06 3.16275462e+06 3.16275462e+06 2.28739291e+06
 2.42503243e+08 3.14835601e+06 5.48317946e+06 2.28739291e+06
 1.31514979e+07 3.14835601e+06 1.31514979e+07 2.42503243e+08
 2.28739291e+06 2.68713012e+06 3.16275462e+06 3.16275462e+06
 2.28739291e+06 5.48317946e+06 5.48317946e+06 3.16275462e+06
 1.31514979e+07 2.42503243e+08 3.16275462e+06 2.42503243e+08
 3.16275462e+06 2.68713012e+06 2.68713012e+06 3.14835601e+06
 5.48317946e+06 3.14835601e+06 2.42503243e+08 2.42503243e+08
 5.48317946e+06 1.31514979e+07 2.68713012e+06 1.31514979e+07
 3.16275462e+06 3.14835601e+06 3.16275462e+06 2.42503243e+08
 2.68713012e+06 5.48317946e+06 2.28739291e+06 3.16275462e+06
 5.48317946e+06 5.48317946e+06 1.31514979e+07 2.68713012e+06
 3.16275462e+06 1.31514979e+07 3.16275462e+06 3.16275462e+06
 2.42503243e+08 1.31514979e+07 5.48317946e+06 2.68713012e+06
 3.14835601e+06 3.16275462e+06 2.68713012e+06 5.48317946e+06
 2.28739291e+06 2.28739291e+06 3.16275462e+06 3.16275462e+06
 3.16275462e+06 2.68713012e+06 2.28739291e+06 2.68713012e+06
 1.31514979e+07 3.16275462e+06 5.48317946e+06 3.16275462e+06
 2.42503243e+08 3.16275462e+06 1.31514979e+07 2.28739291e+06
 2.68713012e+06 1.31514979e+07 3.16275462e+06 5.48317946e+06
 5.48317946e+06 2.42503243e+08 1.31514979e+07 2.42503243e+08
 3.16275462e+06 2.42503243e+08 2.28739291e+06 3.14835601e+06
 2.68713012e+06 3.16275462e+06 3.16275462e+06 2.42503243e+08
 1.31514979e+07 2.68713012e+06 3.16275462e+06 2.42503243e+08
 5.48317946e+06 2.42503243e+08 2.68713012e+06 2.28739291e+06
 3.16275462e+06 2.28739291e+06 3.16275462e+06 2.28739291e+06
 2.28739291e+06 2.28739291e+06 1.31514979e+07 2.68713012e+06
 2.68713012e+06 1.31514979e+07 2.42503243e+08 2.68713012e+06
 2.68713012e+06 2.28739291e+06 3.14835601e+06 2.68713012e+06
 3.16275462e+06 2.68713012e+06 1.31514979e+07 3.14835601e+06
 2.68713012e+06 1.31514979e+07 2.68713012e+06 3.14835601e+06
 2.28739291e+06 2.68713012e+06 2.68713012e+06 3.14835601e+06
 3.16275462e+06 2.68713012e+06 5.48317946e+06 2.68713012e+06
 3.16275462e+06 2.28739291e+06 1.31514979e+07 2.42503243e+08
 2.28739291e+06 3.16275462e+06 2.68713012e+06 1.31514979e+07
 3.16275462e+06 2.28739291e+06 2.28739291e+06 3.14835601e+06
 5.48317946e+06 2.28739291e+06 3.16275462e+06 2.42503243e+08
 3.14835601e+06 5.48317946e+06 1.31514979e+07 2.28739291e+06
 1.31514979e+07 2.42503243e+08 3.16275462e+06 2.28739291e+06
 3.16275462e+06 3.16275462e+06 1.31514979e+07 5.48317946e+06
 2.42503243e+08 2.28739291e+06 2.68713012e+06 5.48317946e+06
 2.28739291e+06 2.68713012e+06 2.28739291e+06 5.48317946e+06
 5.48317946e+06 3.16275462e+06 3.14835601e+06 5.48317946e+06
 1.31514979e+07 3.16275462e+06 2.42503243e+08 2.68713012e+06
 2.42503243e+08 2.28739291e+06 2.42503243e+08 1.31514979e+07
 3.16275462e+06 2.28739291e+06 2.68713012e+06 2.68713012e+06
 2.68713012e+06 5.48317946e+06 3.14835601e+06 2.42503243e+08
 2.42503243e+08 5.48317946e+06 1.31514979e+07 5.48317946e+06
 1.31514979e+07 2.68713012e+06 5.48317946e+06 5.48317946e+06
 1.31514979e+07 2.42503243e+08 2.42503243e+08 1.31514979e+07
 3.16275462e+06 2.42503243e+08 3.14835601e+06 3.14835601e+06]

## Error rate of our model with hyper tuning of paramerters

In [ ]:
# With hyperparameter tuned 

from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_test,tuned_pred))
print('MSE:', metrics.mean_squared_error(y_test, tuned_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, tuned_pred)))

MAE: 27824039.15528781
MSE: 5560151908585489.0
RMSE: 74566426.1486729

## Dump the scikit learn models with Python Pickle

In [ ]:
import pickle

# Dump the trained decision tree classifier with Pickle
model_land_filename = '/content/drive/MyDrive/DPDM65/DecisionTreeRegress_final.pkl'
# Open the file to save as pkl file
model_pkl = open(model_land_filename, 'wb')
pickle.dump(tuned_hyper_model, model_pkl)
# Close the pickle instances
model_pkl.close()