<a href="https://colab.research.google.com/github/WiratchawaKannika/DPDM65/blob/main/TrainModelDecisionTreeRegress_Finalexam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Train Model เพื่อทำนายราคาที่อยู่อาศัย

## Import data set

In [ ]:
df_train = pd.read_csv('/content/drive/MyDrive/DPDM65/Final/MyDataSet_Finalexam.csv')
print(df_train.shape)
df_train.head()

(2715, 12)

,Unnamed: 0,id,province,district,sub_district,property_type,number_of_rai,number_of_ngan,number_of_va,sell_price,usable_area,G_area
0,0,11243.0,ขอนแก่น,หนองเรือ,โนนสะอาด,Land,8.0,1.0,70.0,21000000.0,10704.0,"โนนสะอาด,หนองเรือ,ขอนแก่น"
1,1,2092P,ขอนแก่น,หนองเรือ,โนนสะอาด,Land,6.0,2.0,78.0,8900000.0,10704.0,"โนนสะอาด,หนองเรือ,ขอนแก่น"
2,2,17882.0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,0.0,1.0,0.0,2075000.0,0.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"
3,3,306P,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,7.0,0.0,100.0,35000000.0,0.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"
4,4,2217.0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,Land,0.0,1.0,80.0,4850000.0,0.0,"บ้านทุ่ม,เมืองขอนแก่น,ขอนแก่น"

## Data Preparation

### Dummy variable

In [ ]:
#colName_land = ['number_of_rai',	'number_of_ngan',	'number_of_va',	'sell_price',	'usable_area']
colName_land = ['property_type',	'number_of_rai',	'number_of_ngan',	'number_of_va',	'sell_price',	'usable_area']
df_train = df_train[colName_land]
df_train.head()
# df_encode = df_train[colName_land]
# print(df_encode.shape)
# df_encode.head()

,property_type,number_of_rai,number_of_ngan,number_of_va,sell_price,usable_area
0,Land,8.0,1.0,70.0,21000000.0,10704.0
1,Land,6.0,2.0,78.0,8900000.0,10704.0
2,Land,0.0,1.0,0.0,2075000.0,0.0
3,Land,7.0,0.0,100.0,35000000.0,0.0
4,Land,0.0,1.0,80.0,4850000.0,0.0

In [ ]:
# Dummy variable
categorical_land = ['property_type']
df_encode = pd.get_dummies(data = df_train,  columns = categorical_land, drop_first =True)
print(df_encode.shape)
df_encode.head()

(2715, 10)

,number_of_rai,number_of_ngan,number_of_va,sell_price,usable_area,property_type_House,property_type_Land,property_type_Office,property_type_Town Home,property_type_TwinHouse
0,8.0,1.0,70.0,21000000.0,10704.0,0,1,0,0,0
1,6.0,2.0,78.0,8900000.0,10704.0,0,1,0,0,0
2,0.0,1.0,0.0,2075000.0,0.0,0,1,0,0,0
3,7.0,0.0,100.0,35000000.0,0.0,0,1,0,0,0
4,0.0,1.0,80.0,4850000.0,0.0,0,1,0,0,0

## Feature Selection

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_squared_error

## Splitting the data into train and test data sets.

In [ ]:
X = df_encode.drop('sell_price',axis=1) # Independet variable
y = df_encode['sell_price'] # dependent variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=0)

In [ ]:
# size of test data set
print(X_train.shape)
X_train.head()

(2443, 9)

,number_of_rai,number_of_ngan,number_of_va,usable_area,property_type_House,property_type_Land,property_type_Office,property_type_Town Home,property_type_TwinHouse
1620,0.0,0.0,51.0,0.0,1,0,0,0,0
654,2.0,0.0,44.0,158.0,0,1,0,0,0
935,0.0,0.0,62.5,0.0,1,0,0,0,0
977,0.0,0.0,56.0,225.2,1,0,0,0,0
2174,0.0,0.0,30.0,0.0,0,0,1,0,0

In [ ]:
# size of test data set
print(y_train.shape)
y_train.head()

(2443,)

1620    1800000.0
654     4500000.0
935     2464000.0
977     2799999.0
2174    6500000.0
Name: sell_price, dtype: float64

In [ ]:
# size of test data set
print(X_test.shape)
X_test.head()

(272, 9)

,number_of_rai,number_of_ngan,number_of_va,usable_area,property_type_House,property_type_Land,property_type_Office,property_type_Town Home,property_type_TwinHouse
2354,0.0,0.0,0.0,33.0,0,0,0,0,0
615,2.0,0.0,44.0,158.0,0,1,0,0,0
2489,0.0,0.0,0.0,31.0,0,0,0,0,0
674,20.0,0.0,12.0,12305.0,0,1,0,0,0
1855,0.0,0.0,25.0,35.0,1,0,0,0,0

In [ ]:
# size of test data set
print(y_test.shape)
y_test.head()

(272,)

2354     2551000.0
615      4500000.0
2489     1650000.0
674     36000000.0
1855     2000000.0
Name: sell_price, dtype: float64

# **Decision Tree Model Training**

In [ ]:
from sklearn.tree import DecisionTreeRegressor

## Define

In [ ]:
reg_decisModel = DecisionTreeRegressor()

## Build model (fit)

In [ ]:
reg_decisModel.fit(X_train, y_train)

DecisionTreeRegressor()

In [ ]:
#reg_decis_LandModel.score(X_train_land, y_train_land)

In [ ]:
#reg_decis_LandModel.score(X_test_land, y_test_land)

## Parameter tuning with 10-fold cross Validation

In [ ]:
# Hyper parameters range intialization for tuning 
parameters={"splitter":["best","random"],
            "max_depth" : [1,3,5,7,9,11,12],
           "min_samples_leaf":[1,2,3,4,5,6,7,8,9,10],
           "min_weight_fraction_leaf":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
           "max_features":["auto","log2","sqrt",None],
           "max_leaf_nodes":[None,10,20,30,40,50,60,70,80,90] }

In [ ]:
# calculating different regression metrics
from sklearn.model_selection import GridSearchCV

tuning_model = GridSearchCV(reg_decisModel ,param_grid=parameters, scoring='neg_mean_squared_error',cv=10,verbose=3,n_jobs=-1)

In [ ]:
tuning_model.fit(X_train, y_train)

Fitting 10 folds for each of 50400 candidates, totalling 504000 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
224000 fits failed out of a total of 504000.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
224000 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 304, in fit
    raise ValueError("min_weight_fraction_leaf must in [0, 0.5]")
ValueError: min_weight_fraction_leaf must in [0, 0.5]

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [-5.70195177e+15 -5.85668469e+15 -5.74074084e+15 ...             nan
             nan             nan]
  category=UserWarning,

GridSearchCV(cv=10, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'max_depth': [1, 3, 5, 7, 9, 11, 12],
                         'max_features': ['auto', 'log2', 'sqrt', None],
                         'max_leaf_nodes': [None, 10, 20, 30, 40, 50, 60, 70,
                                            80, 90],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'min_weight_fraction_leaf': [0.1, 0.2, 0.3, 0.4, 0.5,
                                                      0.6, 0.7, 0.8, 0.9],
                         'splitter': ['best', 'random']},
             scoring='neg_mean_squared_error', verbose=3)

In [ ]:
# best hyperparameters 
best_hype = tuning_model.best_params_
best_hype

{'max_depth': 3,
 'max_features': 'log2',
 'max_leaf_nodes': 60,
 'min_samples_leaf': 6,
 'min_weight_fraction_leaf': 0.1,
 'splitter': 'best'}

In [ ]:
max_depth = best_hype['max_depth']
max_features = best_hype['max_features']
max_leaf_nodes = best_hype['max_leaf_nodes']
min_samples_leaf = best_hype['min_samples_leaf']
min_weight_fraction_leaf = best_hype['min_weight_fraction_leaf']
splitter = best_hype['splitter']

- best model score

In [ ]:
tuning_model.best_score_

-5592819996903818.0

## Retrain model with all training set

In [ ]:
tuned_hyper_model = DecisionTreeRegressor(max_depth=max_depth, max_features=max_features, max_leaf_nodes=max_leaf_nodes ,
                                                min_samples_leaf=min_samples_leaf,  min_weight_fraction_leaf=min_weight_fraction_leaf,
                                                splitter=splitter)

In [ ]:
# fitting model
tuned_hyper_model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, max_features='log2', max_leaf_nodes=60,
                      min_samples_leaf=6, min_weight_fraction_leaf=0.1)

# Prediction

In [ ]:
tuned_pred = tuned_hyper_model.predict(X_test)
print(len(tuned_pred))
print(tuned_pred)

272
[ 3798085.44382802  3798085.44382802  3798085.44382802 69769456.64353313
  2922200.17247387  3798085.44382802  3798085.44382802  6156865.86507936
 69769456.64353313  6156865.86507936  3798085.44382802  6156865.86507936
  3036097.41666667  6156865.86507936 69769456.64353313  6156865.86507936
  3036097.41666667 69769456.64353313  3798085.44382802  2922200.17247387
 69769456.64353313  3798085.44382802 69769456.64353313  3798085.44382802
  2922200.17247387  3798085.44382802  9390206.88990826  3798085.44382802
  3798085.44382802  2922200.17247387  6156865.86507936  3798085.44382802
  3798085.44382802  3798085.44382802  9390206.88990826  2922200.17247387
  3798085.44382802  3036097.41666667  6156865.86507936  9390206.88990826
  6156865.86507936 69769456.64353313 69769456.64353313  3798085.44382802
  3798085.44382802  2922200.17247387  2922200.17247387  2922200.17247387
  3036097.41666667  3798085.44382802  2922200.17247387  3036097.41666667
  9390206.88990826  3798085.44382802  9390206.88990826  3798085.44382802
  9390206.88990826 69769456.64353313  2922200.17247387  9390206.88990826
  2922200.17247387  2922200.17247387  3798085.44382802  2922200.17247387
  9390206.88990826  2922200.17247387  3036097.41666667  6156865.86507936
 69769456.64353313  2922200.17247387 69769456.64353313  3798085.44382802
  6156865.86507936  2922200.17247387  2922200.17247387  3798085.44382802
  3798085.44382802  2922200.17247387  2922200.17247387  3798085.44382802
  2922200.17247387  2922200.17247387  9390206.88990826 69769456.64353313
  3798085.44382802  9390206.88990826  9390206.88990826  3798085.44382802
  3798085.44382802  2922200.17247387 69769456.64353313  2922200.17247387
  3036097.41666667  2922200.17247387  9390206.88990826  6156865.86507936
  6156865.86507936 69769456.64353313  2922200.17247387  2922200.17247387
  9390206.88990826  2922200.17247387 69769456.64353313  2922200.17247387
 69769456.64353313  9390206.88990826  9390206.88990826  3798085.44382802
  3798085.44382802  9390206.88990826  3798085.44382802 69769456.64353313
  3036097.41666667  9390206.88990826  6156865.86507936  9390206.88990826
  2922200.17247387  3036097.41666667  6156865.86507936  2922200.17247387
  3798085.44382802  2922200.17247387  9390206.88990826  6156865.86507936
  6156865.86507936  2922200.17247387  6156865.86507936 69769456.64353313
 69769456.64353313  9390206.88990826 69769456.64353313  9390206.88990826
 69769456.64353313  9390206.88990826 69769456.64353313 69769456.64353313
  3798085.44382802  6156865.86507936  2922200.17247387  2922200.17247387
  2922200.17247387 69769456.64353313  2922200.17247387  3036097.41666667
  2922200.17247387  3798085.44382802 69769456.64353313  3798085.44382802
  6156865.86507936  3798085.44382802  2922200.17247387  6156865.86507936
 69769456.64353313  3798085.44382802  2922200.17247387  9390206.88990826
  3798085.44382802  9390206.88990826  9390206.88990826  3798085.44382802
  3798085.44382802  6156865.86507936  2922200.17247387  3798085.44382802
 69769456.64353313  9390206.88990826  3798085.44382802  3798085.44382802
 69769456.64353313  3798085.44382802  3798085.44382802  3798085.44382802
  3798085.44382802  9390206.88990826  2922200.17247387 69769456.64353313
 69769456.64353313  2922200.17247387  2922200.17247387  3798085.44382802
  6156865.86507936  9390206.88990826  3798085.44382802  3798085.44382802
  9390206.88990826  9390206.88990826  3798085.44382802  6156865.86507936
  9390206.88990826  3036097.41666667 69769456.64353313  3036097.41666667
  3798085.44382802 69769456.64353313  6156865.86507936  2922200.17247387
  3036097.41666667 69769456.64353313  2922200.17247387  2922200.17247387
  3036097.41666667  3798085.44382802  3798085.44382802  3798085.44382802
 69769456.64353313  2922200.17247387  2922200.17247387  3798085.44382802
  3798085.44382802  2922200.17247387 69769456.64353313  2922200.17247387
  9390206.88990826  3798085.44382802 69769456.64353313  6156865.86507936
  2922200.17247387 69769456.64353313  3798085.44382802  3798085.44382802
  3798085.44382802  3798085.44382802  2922200.17247387  3036097.41666667
  2922200.17247387 69769456.64353313  3798085.44382802  9390206.88990826
  6156865.86507936  9390206.88990826  2922200.17247387  2922200.17247387
  3798085.44382802  6156865.86507936  3036097.41666667 69769456.64353313
  2922200.17247387  3798085.44382802  9390206.88990826  6156865.86507936
  2922200.17247387  2922200.17247387  2922200.17247387  9390206.88990826
  2922200.17247387  9390206.88990826  3798085.44382802  2922200.17247387
  3798085.44382802  3798085.44382802  2922200.17247387  3798085.44382802
  3798085.44382802  3036097.41666667  6156865.86507936  2922200.17247387
  6156865.86507936  2922200.17247387  3798085.44382802 69769456.64353313
  3798085.44382802  3798085.44382802  6156865.86507936 69769456.64353313
  9390206.88990826  3798085.44382802  6156865.86507936  2922200.17247387
  3798085.44382802  3798085.44382802  2922200.17247387  2922200.17247387]

## Error rate of our model with hyper tuning of paramerters

In [ ]:
# With hyperparameter tuned 

from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_test,tuned_pred))
print('MSE:', metrics.mean_squared_error(y_test, tuned_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, tuned_pred)))

MAE: 167142168.5972468
MSE: 5.867287989447623e+18
RMSE: 2422248539.982556

## Dump the scikit learn models with Python Pickle

In [ ]:
import pickle

# Dump the trained decision tree classifier with Pickle
model_land_filename = '/content/drive/MyDrive/DPDM65/Final/DecisionTreeRegress.pkl'
# Open the file to save as pkl file
model_pkl = open(model_land_filename, 'wb')
pickle.dump(tuned_hyper_model, model_pkl)
# Close the pickle instances
model_pkl.close()